aiodns==3.2.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.5
aiosignal==1.3.2
anyio==3.7.1
appdirs==1.4.4
argcomplete==3.5.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.4.1
async-lru==2.0.4
attrs==24.2.0
babel==2.17.0
Beaker==1.12.1
beautifulsoup4==4.12.3
bleach==6.2.0
blivet==3.11.0
blivet-gui==2.6.0
blosc2==2.5.1
Bottleneck==1.3.7
Brlapi==0.8.5
Brotli==1.1.0
cachetools==5.4.0
certifi==2023.5.7
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
comm==0.2.2
contourpy==1.3.1
crypt_r==3.13.1
cryptography==43.0.0
cupshelpers==1.0
cycler==0.11.0
dasbus==1.7
dbus-python==1.3.2
decorator==5.1.1
defusedxml==0.7.1
distro==1.9.0
dnf==4.23.0
et_xmlfile==1.1.0
executing==2.2.0
fastjsonschema==2.19.1
fedora-third-party==0.10
file-magic==0.4.0
fonttools==4.53.1
fqdn==1.5.1
fros==1.1
frozenlist==1.5.0
fs==2.4.16
fsspec==2024.12.0
gcsfs==2024.9.0
google-api-core==2.11.1
google-auth==2.38.0
google-auth-oauthlib==0.8.0
google-cloud-core==2.3.3
google-cloud-storage==2.14.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.63.0
greenlet==3.1.1
grpcio==1.48.4
grpcio-status==1.48.4
h11==0.14.0
html5lib==1.1
httpcore==1.0.5
httpx==0.27.0
humanize==4.9.0
idna==3.7
ipykernel==6.29.3
ipython==8.26.0
iso639==0.1.4
isoduration==20.11.0
jdcal==1.4.1
jedi==0.19.1
Jinja2==3.1.6
joblib==1.4.2
json5==0.9.25
jsonpointer==2.4
jsonschema==4.19.1
jsonschema-specifications==2023.11.2
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.3.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
kiwisolver==1.4.8
langtable==0.0.68
libcomps==0.1.21
libdnf==0.74.0
louis==3.28.0
lxml==5.2.1
Mako==1.2.3
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.9.4
matplotlib-inline==0.1.7
mistune==2.0.4
msgpack==1.0.6
multidict==6.0.5
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.9.2
ndindex==1.7
nest_asyncio==1.6.0
netifaces==0.11.0
nftables==0.1
notebook_shim==0.2.4
numexpr==2.8.5
numpy==1.26.4
oauthlib==3.2.2
odfpy==1.4.1
olefile==0.47
openpyxl==3.1.2
packaging==24.2
pandas==2.2.1
pandocfilters==1.5.1
parso==0.8.4
Paste==3.10.1
perf==0.1
pexpect==4.9.0
pid==2.2.3
pillow==11.0.0
platformdirs==4.2.2
ply==3.11
pooch==1.8.2
productmd==1.43
prometheus_client==0.21.0
prompt_toolkit==3.0.41
protobuf==3.19.6
psutil==5.9.8
psycopg2==2.9.9
ptyprocess==0.7.0
pure_eval==0.2.3
pwquality==1.4.5
py-cpuinfo==9.0.0
pyarrow==16.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycairo==1.25.1
pycares==4.3.0
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.4
pyenchant==3.2.2
Pygments==2.18.0
PyGObject==3.48.2
pyinotify==0.9.6
pykickstart==3.58
PyMySQL==1.1.1
pynvim==0.5.2
pyOpenSSL==24.2.1
pyparsing==3.1.2
pyparted==3.13.0
PyQt5==5.15.10
PyQt5_sip==12.15.0
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-json-logger==2.0.4
python-linux-procfs==0.7.3
python-meh==0.52
python-pam==2.0.2
pytz==2025.1
pyudev==0.24.3
pyxdg==0.27
PyYAML==6.0.1
pyzmq==25.1.2
QtPy==2.4.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-file==2.0.0
requests-ftp==0.3.1
requests-oauthlib==1.3.1
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rpds-py==0.19.1
rpm==4.20.0
rsa==4.9
scikit-learn==1.6.1
SciPy==1.11.3
selinux @ file:///builddir/build/BUILD/libselinux-3.7-build/libselinux-3.7/src
Send2Trash==1.8.2
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.7-build/selinux-3.7/python/sepolicy
setools==4.5.1
setuptools==69.2.0
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sniffio==1.3.1
sos==4.8.2
soupsieve==2.6
SQLAlchemy==2.0.38
stack_data==0.6.3
systemd-python==235
tables==3.10.1
tabulate==0.9.0
Tempita==0.5.2
terminado==0.18.0
threadpoolctl==3.6.0
tinycss2==1.3.0
tornado==6.3.3
traitlets==5.14.3
typing_extensions==4.12.2
uri_template==1.2.0
urllib3==1.26.20
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
xarray==2024.10.0
xkbregistry==0.3
xlrd==2.0.1
XlsxWriter==3.2.0
yarl==1.9.4
zstandard==0.23.0
